<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>chat</title>
    <link rel="stylesheet" href="/static/css/codehilite.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
        const textInput = document.getElementById('query');
        console.log(textInput)
        textInput.addEventListener('keydown', (event) => {
            if (event.key === 'Enter') {
                console.log('Enter key pressed');
                getResp();
            }
        });

        function getResp() {
            var query = $("#query").val()
            if (query === '') {
                alert("pls input query content")
                return
            }
            $.ajax({
                method: "post",
                url: "/chat",
                data: { "query": query },
                dataType: "text",
                encode: true,

            }).done(function (data) {
                console.log(data)
                $("#resp").html(data)
            })
        }
    </script>
</head>

<body id="content">
    <input type="text" id="query">
    <input type="button" onclick="getResp()" value="ask">
    <div id="resp"></div>
</body>

</html>